@model Chushka.Data.Models.Product

@{
    ViewData["Title"] = "View";
}

<h1 class="text-center">Create Product</h1>
<hr class="hr-2 bg-dark" />
<form asp-controller="Products" asp-action="Create" class="mx-auto half-width" method="post">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Please fill all fields.</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name...">
        <span asp-validation-for="Name" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" placeholder="Price...">
        <span asp-validation-for="Price" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" rows="4" placeholder="Description..."></textarea>
        <span asp-validation-for="Description" class="alert-danger"></span>
    </div>
    <h4 class="text-center">Product Type</h4>
    <hr class="hr-2 bg-dark half-width mt-4" />
    <div class="product-type-holder mt-4 d-flex justify-content-around">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Type" id="inlineRadio1" value="Food">
            <label class="form-check-label" for="inlineRadio1">Food</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Type" id="inlineRadio2" value="Domestic">
            <label class="form-check-label" for="inlineRadio2">Domestic</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Type" id="inlineRadio3" value="Health">
            <label class="form-check-label" for="inlineRadio3">Health</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Type" id="inlineRadio4" value="Cosmetic">
            <label class="form-check-label" for="inlineRadio4">Cosmetic</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Type" id="inlineRadio5" value="Other" checked>
            <label class="form-check-label" for="inlineRadio5">Other</label>
        </div>
    </div>
    <hr class="hr-2 bg-dark half-width mt-4" />
    <div class="button-holder mt-2 d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Create</button>
    </div>
</form>