<div class="jumbotron {{NonAuthenticated}}" style="background-color: limegreen">
    <h2 class="display-7 text-light">Welcome to IRunes</h2>
    <hr class="my-1 hr-white">
    <p><a href="/users/login" class="text-warning font-weight-bold">Login</a><span class="text-white font-weight-bold"> if you have an account.</span></p>
    <p><a href="/users/register" class="text-warning font-weight-bold">Register</a><span class="text-white font-weight-bold"> if you don't.</span></p>
</div>
<div class="jumbotron {{Authenticated}}" style="background-color: limegreen">
    <h2 class="display-7 text-light">Welcome, <span style="color: orange">{{username}}</span></h2>
    <hr class="my-1 hr-white">
    <p class="lead text-light">IRunes wishes you a fun experience.</p>
</div>